* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

.up_case {
  text-transform: uppercase;
}

.f_size14 {
  font-size: 14px;
}

.grey {
  color: grey;
}

.green {
  background-color: green;
}

#logo {
  width: 100px;
  vertical-align: middle;
}

.m_auto {
  margin: auto;
}

.left-side li {
  padding: 5px 15px;
  display: inline-block;
}

.display_bl {
  display: inline-block;
}

.left-side {
  margin-left: 10%;
}

.right-side {
  margin-left: 10%;
}

.right-side li {
  list-style: none;
  padding: 5px 10px;
  display: inline-block;
}

.pink_link {
  text-decoration: none;
  background-color: #D22A8B;
  border-radius: 20px;
  padding: 10px 20px;
  color: #fff;
}

.hidden-menu li {
  display: list-item;
}

.hidden-menu {
  min-width: 100px;
  min-height: 100px;
  border: 1px solid #fff;
  box-shadow: 1px 2px grey;
  display: none;
  position: absolute;
  top: 50px;
}

.hidden-menu li {
  padding: 12px 10px;
}

.active {
  display: block;
}
