* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

.up_case {
  text-transform: uppercase;
}

.grey {
  color: grey;
}

.green {
  background-color: green;
}

#logo {
  width: 100px;
  vertical-align: middle;
}

.left-side li {
  padding: 5px 15px;
  display: inline-block;
}

.display_bl {
  display: inline-block;
}

.right-side li {
  list-style: none;
  padding: 5px 10px;
  display: inline-block;
}
